<%= form_for @grade, :html => { :class => "form-horizontal grade" } do |f| %>

  <% if @grade.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @grade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>


  <div class="form-group">
    <%= f.label :period_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :period_id, set_periodo.collect{|c|[c.name, c.id] }, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:period_id) %>
  </div>


  <div class="form-group">
    <%= f.label :current, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :current, [['Cursando', true],['Finalizado', false]] ,{}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:current) %>
  </div>



  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                grades_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
