<%- model_class = Grade -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:period_id) %></th>
      <th><%= model_class.human_attribute_name(:current) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= link_to grade.id, grade_path(grade) %></td>


        <td>
          <%if grade.blank? %>
            <spam class="label label-warning">No Materia</spam>
          <%else%>
            <%= grade.name %>
          <%end%>
        </td>

        <td>
          <%if grade.period.blank?%>
            <spam class="label label-warning">No Periodo</spam>
          <%else%>
            <%= grade.period.name  %>
          <%end%>
        </td>

        <td>
          <%if grade.current?%>
            <spam class="label label-success">Cursando</spam>
          <%else%>
            <spam class="label label-warning">Finalizado</spam>
          <%end%>
        </td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_grade_path(grade), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      grade_path(grade),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_grade_path,
            :class => 'btn btn-primary' %>
