<p id="notice"><%= notice %></p>

<p>
  <strong>Semestre:</strong>
  <%= @semester.name %>
</p>
<p>
  <strong>Periodo:</strong>
  <%= @semester.period.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @semester.user.name %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
