<%= form_for @student, :html => { :class => "form-horizontal student" } do |f| %>

  <% if @student.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :encrypted_password, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :encrypted_password, :class => 'form-control' %>
    </div>
    <%=f.error_span(:encrypted_password) %>
  </div>
  <div class="form-group">
    <%= f.label :reset_password_token, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :reset_password_token, :class => 'form-control' %>
    </div>
    <%=f.error_span(:reset_password_token) %>
  </div>
  <div class="form-group">
    <%= f.label :reset_password_sent_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :reset_password_sent_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:reset_password_sent_at) %>
  </div>
  <div class="form-group">
    <%= f.label :remember_created_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :remember_created_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:remember_created_at) %>
  </div>
  <div class="form-group">
    <%= f.label :current_sign_in_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :current_sign_in_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:current_sign_in_at) %>
  </div>
  <div class="form-group">
    <%= f.label :last_sign_in_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_sign_in_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_sign_in_at) %>
  </div>
  <div class="form-group">
    <%= f.label :current_sign_in_ip, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :current_sign_in_ip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:current_sign_in_ip) %>
  </div>
  <div class="form-group">
    <%= f.label :last_sign_in_ip, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_sign_in_ip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_sign_in_ip) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <%= f.label :genere, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :genere, :class => 'form-control' %>
    </div>
    <%=f.error_span(:genere) %>
  </div>
  <div class="form-group">
    <%= f.label :birth, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :birth, :class => 'form-control' %>
    </div>
    <%=f.error_span(:birth) %>
  </div>
  <div class="form-group">
    <%= f.label :mother, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mother, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mother) %>
  </div>
  <div class="form-group">
    <%= f.label :father, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :father, :class => 'form-control' %>
    </div>
    <%=f.error_span(:father) %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
