<h1>Cambiar Grado</h1>
<h2><%=link_to "Atras", :back, class: "btn btn-primary"%></h2>
<hr>
<h3>Estudiante: <strong> <%= "#{@student.name } #{@student.last_name}"%> </strong></h3>

<p><strong>Grado Actual:</strong> <%= @student.grades.where(current: true).first.name unless @student.grades.where(current: true).blank? %></p>

<p><strong>Periodo Actual:</strong> <%= @student.grades.where(current: true).first.period.name unless @student.grades.where(current: true).blank? %></p>


<%= form_tag(action: :enroll_student ) do %>

	<%= hidden_field_tag :id, @student.id %>
	<%= label_tag 'Nuevo grado'%>
	<%= select_tag :grade_id, options_for_select(set_grades.collect{ |modelo| ["#{modelo.name} #{modelo.period.name}", modelo.id]}) %>
	<%= submit_tag 'Cambiar', class: 'btn btn-primary'%>



<%end%>
