<%= link_to "atras" , student_dashboard_path, class: "btn btn-primary m-1 float-xs-right float-sm-right float-md-right float-lg-right"%>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h1 >Detalles del Curso</h1>
    <table class="table">
      <tbody>
        <tr>
          <th class="h2" scope="row">Profesor: </th>
          <td class="h2"><%=link_to "#{@course.teacher.name} #{@course.teacher.last_name}", "mailto:#{@course.teacher.email} "%></td>
        </tr>
        <tr>
          <th class="h2" scope="row">Materia:</th>
          <td class="h2"><%= @course.name%></td>
        </tr>
        <tr>
          <th class="h2" scope="row">Grado: </th>
          <td class="h2"><%= "#{@course.grade.name} #{@course.grade.period.name}"%></td>
        </tr>
        <tr>
          <th class="h2">Estado:</th>
          <td class="h2">
            <% if @course.grade.current?%>
                <span style="padding: 0.3em;" class="text-white bg-success">Cursando</span>
            <%else%>
                <span class="text-white bg-warning">Finalizado</span>
            <%end%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 col-md-4">

  </div>
</div>
<%if @scores.blank?%>
     <h1>Tus calificaciones aun no han sido publicadas</h1>
<%else%>
    <div class="row">
        <h1 class="ml-2">Calificaciones</h1>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Primer Semestre</th>
                  <th>Notas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Primera Nota</th>
                  <td>
                    <%if @scores.score_one == 0-%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_one%></span>
                    <%elsif @scores.score_one <= 69 %>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_one%></span>
                    <%elsif @scores.score_one <= 79 %>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_one%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_one%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Segunda Nota</th>
                  <td>
                    <%if @scores.score_two == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_two%></span>
                    <%elsif @scores.score_two <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_two%></span>
                    <%elsif @scores.score_two <= 79%>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_two%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_two%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tercera Nota</th>
                  <td>
                    <%if @scores.score_three == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_three%></span>
                    <%elsif @scores.score_three <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_three%></span>
                    <%elsif @scores.score_three <= 79%>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_three%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_three%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Cuarta Nota</th>
                  <td>
                    <%if @scores.score_four == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_four%></span>
                    <%elsif @scores.score_four <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_four%></span>
                    <%elsif @scores.score_four <= 79%>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_four%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_four%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Examen</th>
                  <td>
                    <%if @scores.score_test == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_test%></span>
                    <%elsif @scores.score_test <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_test%></span>
                    <%elsif @scores.score_test <= 79 %>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_test%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_test%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Nota Final</th>
                  <td>
                    <%if @scores.score_final == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_final%></span>
                    <%elsif @scores.score_final <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_final%></span>
                    <%elsif @scores.score_final <= 79 %>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_final%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_final%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Completivo</th>
                  <td colspan="2">En espera</td>
                </tr>
                <tr>
                  <th scope="row">Extraordinario</th>
                  <td colspan="2">En espera</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Segundo Semestre</th>
                  <th>Notas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Primera Nota</th>
                  <td>
                    <%if @scores.score_one == 0-%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_one%></span>
                    <%elsif @scores.score_one <= 69 %>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_one%></span>
                    <%elsif @scores.score_one <= 79 %>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_one%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_one%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Segunda Nota</th>
                  <td>
                    <%if @scores.score_two == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_two%></span>
                    <%elsif @scores.score_two <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_two%></span>
                    <%elsif @scores.score_two <= 79%>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_two%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_two%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Tercera Nota</th>
                  <td>
                    <%if @scores.score_three == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_three%></span>
                    <%elsif @scores.score_three <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_three%></span>
                    <%elsif @scores.score_three <= 79%>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_three%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_three%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Cuarta Nota</th>
                  <td>
                    <%if @scores.score_four == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_four%></span>
                    <%elsif @scores.score_four <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_four%></span>
                    <%elsif @scores.score_four <= 79%>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_four%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_four%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Examen</th>
                  <td>
                    <%if @scores.score_test == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_test%></span>
                    <%elsif @scores.score_test <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_test%></span>
                    <%elsif @scores.score_test <= 79 %>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_test%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_test%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Nota Final</th>
                  <td>
                    <%if @scores.score_final == 0%>
                      <span style="padding: 0.5em;" class="text-white bg-default"><%=@scores.score_final%></span>
                    <%elsif @scores.score_final <= 69%>
                      <span style="padding: 0.5em;" class="text-white bg-danger"><%=@scores.score_final%></span>
                    <%elsif @scores.score_final <= 79 %>
                      <span style="padding: 0.5em;" class="text-white bg-warning"><%=@scores.score_final%></span>
                    <%else%>
                      <span style="padding: 0.5em;" class="text-white bg-success"><%=@scores.score_final%></span>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Completivo</th>
                  <td colspan="2">En espera</td>
                </tr>
                <tr>
                  <th scope="row">Extraordinario</th>
                  <td colspan="2">En espera</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
<%end%>
