<div class="dashboard">
	<div class="jumbotron ">

		<h1 class="text-center">
			Hola <%= "#{current_student.name} #{current_student.last_name}"%>
		</h1>

		<p><strong>Grado Actual: </strong><%=current_student.grades.actual.first.name unless current_student.grades.actual.blank?%></p>
		<p><strong>Periodo: </strong><%=current_student.grades.actual.first.period.name unless current_student.grades.actual.blank?%></p>
		<%= link_to 'Ver Mi Perfil', student_profile_path, class: "btn btn-primary ml-3"%>


	</div>
</div>
<%if @courses.blank?%>
<h1>Ups lo siento, no tengo notas de ninguna materia tuya</h1>
<%else%>
	<div>
		<% @courses.each_with_index do |a, b|%>


			<div class="row-fluid">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

								<%= link_to "Detalles del curso" , student_courses_curso_path(a), class: "btn btn-primary my-1"%>

						<table class="table table-bordered">
						  <thead>
						    <tr class="table-active">
						      <th><%= "Materia: "%></th>
						      <td><%= "#{a.name}" %> </td>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="table-active">
						      <th scope="row"><%= "Estudiante: "%></th>
						      <td><%= "#{current_student.name.upcase} #{current_student.last_name.upcase}" %></td>
						    </tr>
						    <tr class="table-active">
						      <th scope="row"><%= "Maestro: "%></th>
						      <td><%= "#{a.teacher.name.upcase} #{a.teacher.last_name.upcase}"%></td>
						    </tr>
						    <tr class="table-active">
						      <th scope="row"><%= "Periodo" %></th>
						      <td><%= a.grade.period.name%></td>
						    </tr>
								<tr class="table-active">
						      <th scope="row"><%= "Estado" %></th>
						      <td class="bg-info text-white">
										<% if a.grade.current? %>
										<span class="w-100 ">Cursando</span>
									</td>
									<%else%>
									<td class="bg-success text-white">
										<span class="label label-warning">Finalizado</span>
										<%end%>
									</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			</div>

			<%end%>


		</div>
<%end%>
