<h1><%=link_to "Atras", student_dashboard_path %></h1>

<h2>Grado: <%="#{@grade.name} #{@grade.period.name}" %></h2>
<h2>
    <% if @grade.current?%>
        <apan class="label label-success">Cursando</apan>
    <%else%>
        <apan class="label label-waring">Finalizado</apan>
    <%end%>

</h2>
<h1>
    <%if @result >= 65 %>
        <p>
          <a class="btn btn-md btn-success">Promovido</a>
          con un promedio de <%= @result %>
        </p>
    <%else%>
    <a class="btn btn-md btn-success">Reprovado</a>
    con un promedio de <%= @result %>

    <%end%>
</h1>

<h1>
<% @grade.courses.each do |v, k| %>
      <th scope="row"><%k+1%></th>
      <td> <%=v.name%></td>
      <td> <%="#{v.teacher.name} #{v.teache.last_name}"%></td>
      <p>
        <%= v.scores.where(student_id: current_student).first.score_final if scores.any?%>
      </p>
  <%end%>

</h1>
<h1>
