 <%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:email) %></th>

      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:genere) %></th>
      <th><%= model_class.human_attribute_name(:birth) %></th>
      <th><%= model_class.human_attribute_name(:mother) %></th>
      <th><%= model_class.human_attribute_name(:father) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>

        <td><%= student.email %></td>

        <td><%= student.name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.genere %></td>
        <td><%= student.birth %></td>
        <td><%= student.mother %></td>
        <td><%= student.father %></td>


        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_student_path(student), :class => 'btn btn-default btn-xs' %>

          <%=link_to 'Cambiar Grado', change_grade_student_path(student), class: 'btn btn-default btn-xs' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      student_path(student),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_student_path,
            :class => 'btn btn-primary' %>
