<div class="jumbotron">
  <h1><%="#{@student.name} #{@student.last_name}"%></h1>
  <h2>Mi prefil</h2>
  <h5><%=link_to "Atras", student_dashboard_path, class: "btn btn-primary mt-2"%></h5>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Datos Del Estudiantes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Teléfono del Estudiante</th>
            <td><%= @student.phone%></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%= @student.email%></td>
          </tr>
          <tr>
            <th scope="row">Padre</th>
            <td><%= @student.father%></td>
          </tr>
          <tr>
            <th scope="row">Teléfono del Padre</th>
            <td>809-000-0001</td>
          </tr>
          <tr>
            <th scope="row">Madre</th>
            <td><%= @student.mother%></td>
          </tr>
          <tr>
            <th scope="row">Teléfono de la Madre</th>
            <td>809-000-0003</td>
          </tr>
          <tr>
            <th scope="row">Fecha de Nacimiento</th>
            <td colspan="2"><%= @student.birth%></td>
          </tr>
          <tr>
            <th scope="row">Grago Actual</th>
            <td colspan="2">
              <%@student.grades.each do |d|%>
              <span style="padding: 0.5em;" class="bg-success text-white tags">Dañado<%"#{d.name} #{d.period.name}"%></span>
            <%end%>
          </tr>
        </tbody>
      </table>
  </div>



</div>
