<%= form_for @score, :html => { :class => "form-horizontal score" } do |f| %>

  <% if @score.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @score.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :score_one, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score_one, :class => 'form-control' %>
    </div>
    <%=f.error_span(:score_one) %>
  </div>



  <div class="form-group">
    <%= f.label :score_two, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score_two, :class => 'form-control' %>
    </div>
    <%=f.error_span(:score_two) %>
  </div>


  <div class="form-group">
    <%= f.label :score_three, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score_three, :class => 'form-control' %>
    </div>
    <%=f.error_span(:score_three) %>
  </div>


  <div class="form-group">
    <%= f.label :score_four, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score_four, :class => 'form-control' %>
    </div>
    <%=f.error_span(:score_four) %>
  </div>


  <div class="form-group">
    <%= f.label :score_test, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score_test, :class => 'form-control' %>
    </div>
    <%=f.error_span(:score_test) %>
  </div>


  <div class="form-group">
    <%= f.label :score_final, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :score_final, :class => 'form-control' %>
    </div>
    <%=f.error_span(:score_final) %>
  </div>


  <div class="form-group">
    <%= f.label :student_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :student_id, set_students.collect{|o|["#{o.name} #{o.last_name}", o.id]} , {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:student_id) %>
  </div>


  <div class="form-group">
    <%= f.label :course_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :course_id, set_courses.collect{|l|[[l.name, l.grade.period.name].join(" "), l.id]},{}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:course_id) %>
  </div>


  <!--
  <div class="form-group">
    <%= f.label :course_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :course_id,set_courses.collect{|l|["#{l.name} #{l.grade.period.name}", l.id]},{}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:course_id) %>
  </div>
  #este ejemplo hace lo mismo que el de arriba y viceversa
  -->



  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                scores_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
