<%= form_for(assistance) do |f| %>
  <% if assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day1 %>
    <%= f.text_field :day1 %>
  </div>
  <div class="field">
    <%= f.label :day2 %>
    <%= f.text_field :day2 %>
  </div>
  <div class="field">
    <%= f.label :day3 %>
    <%= f.text_field :day3 %>
  </div>
  <div class="field">
    <%= f.label :day4 %>
    <%= f.text_field :day4 %>
  </div>
  <div class="field">
    <%= f.label :day5 %>
    <%= f.text_field :day5 %>
  </div>



  <div class="field">
    <%= f.label :Estudiante %>
    <%= f.select :student_id, set_students.collect{|v| ["#{v.name} #{v.last_name}", v.id]}, {}, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :Curso %>
    <%= f.select :course_id, set_courses.collect{|a| [a.name, a.id]}, {}, :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :Semana %>
    <%= f.select :weekend_id, set_weekend.collect{|c| [c.week,c.id]}, {}, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :Semestre %>
    <%= f.select :semester_id, set_semester.collect{|b| [b.name, b.id]}, {}, :class => 'form-control'%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
