<p id="notice"><%= notice %></p>

<h1>Assistances</h1>

<table>
  <thead>
    <tr>
      <th>Day1</th>
      <th>Day2</th>
      <th>Day3</th>
      <th>Day4</th>
      <th>Day5</th>


      <th>Course</th>
      <th>Profesor</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistances.each do |assistance| %>
      <tr>
        <td><%= assistance.day1 %></td>
        <td><%= assistance.day2 %></td>
        <td><%= assistance.day3 %></td>
        <td><%= assistance.day4 %></td>
        <td><%= assistance.day5 %></td>

        <td><%= assistance.course.name %></td>
        <td><%= "#{assistance.course.teacher.name} #{assistance.course.teacher.last_name}" %></td>

        <td><%= "#{assistance.student.name} #{assistance.student.last_name}" %></td>
        <td><%= link_to 'Show', assistance %></td>
        <td><%= link_to 'Edit', edit_assistance_path(assistance) %></td>
        <td><%= link_to 'Destroy', assistance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assistance', new_assistance_path %>
