<p id="notice"><%= notice %></p>

<p>
  <strong>Day1:</strong>
  <%= @assistance.day1 %>
</p>
<p>
  <strong>Day2:</strong>
  <%= @assistance.day2 %>
</p>
<p>
  <strong>Day3:</strong>
  <%= @assistance.day3 %>
</p>
<p>
  <strong>Day4:</strong>
  <%= @assistance.day4 %>
</p>
<p>
  <strong>Day5:</strong>
  <%= @assistance.day5 %>
</p>


<p>
  <strong>Course:</strong>
  <%= @assistance.course.name %>
</p>
<p>
  <strong>Profesor:</strong>
  <%= "#{@assistance.course.teacher.name } #{@assistance.course.teacher.last_name }" %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= %>
</p>

<p>
  <strong>Student:</strong>
  <%="#{@assistance.student.name} #{@assistance.student.last_name}" %>
</p>

<%= link_to 'Edit', edit_assistance_path(@assistance) %> |
<%= link_to 'Back', assistances_path %>
