<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->


    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Bienvenido</h1>
                <p class="lead">School online</p>
                <ul class="list-unstyled">
                	<%if current_user%>
                		<li><%=link_to "System", grades_path, class: "btn btn-success"%></li>

                	<%elsif current_student%>
                		<li><%=link_to "System", student_dashboard_path, class: "btn btn-success"%></li>

                	<%elsif current_teacher%>
                		<li><%=link_to "System", teacher_dashboard_path, class: "btn btn-success"%></li>
                	<%else%>
                		<li><%=link_to "Login User", new_user_session_path, class: "btn btn-primary"%></li>
                    	<br>
                    	<li><%=link_to "Login Student", new_student_session_path, class: "btn btn-primary"%></li>
                    	<br>
                    	<li><%=link_to "Login Teacher", new_teacher_session_path, class: "btn btn-primary"%></li>
                    <%end%>


                	<br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <li>@Dy_Innova</li>
                    <li>Innova_code klk :)</li>


                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
