<h1><%= link_to "atras", teacher_curso_path %></h1>

<%if @curso.blank? %>

  <h1>aun no hay asistencias asignadas a este curso</h1>
<%else%>
    <h1><%@curso.assistances.each_with_index do |s|%></h1>
    <h1><%=s.day1%></h1>
    <h1><%=s.day2%></h1>
    <h1><%=s.day3%></h1>
    <h1><%=s.day4%></h1>
    <h1><%=s.day5%></h1>
    <h1><%=%></h1>
    <h1>Profesor: <%="#{@curso.teacher.name} #{@curso.teacher.last_name}"%></h1>
    <h1>Estudiante: <%="#{s.student.name} #{s.student.last_name}"%></h1>
    <h1>Materia: <%="#{@curso.name}"%></h1>
    <h1><%=link_to "editar asistencia", teacher_editar_asistencia_path(s)%></h1>
    <hr>
    <%end%>
<%end%>
