<h2><%= link_to "Dashboard", teacher_dashboard_path, class: "btn btn-primary"%></h2>
<th>
    <%=link_to "Asistencia", teacher_asistencia_path(@course), class: "btn btn-info btn-sm"%>
</th>
  <%if @course.scores.blank?%>
    <h1 class="display-4 bg-warning text-white text-center p-1">Sin Notas Publicadas</h1>
  <%else%>
<hr>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Materia: <%=@course.name%></th>
        <th class="text-center">Profesor: <%=@course.teacher.name%></th>
        <th class="text-center">Estato:
        <%if @course.grade.current?%>
            <span class="label label-success">Cursando</span>
        <%else%>
          <span class="label label-warning">Finalizado</span>
        <%end%></th>
      
      </tr>
    </thead>
  </table>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <% @course.scores.each_with_index do |a, b|%>
    <table class="table table-bordered">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Primera Nota</th>
          <th>Segunda Nota</th>
          <th>Tercera Nota</th>
          <th>Cuarta Nota</th>
          <th>Examen</th>
          <th>Nota Final</th>
          <th><i class="fa fa-wrench" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%=b+1%></th>
          <td><%="#{a.student.name} #{a.student.last_name}" %></td>
          <td>
            <%if a.score_one == 0-%>
              <span class="label label-default"><%=a.score_one%></span>
            <%elsif a.score_one <= 69 %>
              <span class="label label-danger"><%=a.score_one%></span>
            <%elsif a.score_one <= 79 %>
              <span class="label label-warning"><%=a.score_one%></span>
            <%else%>
              <span class="label label-success"><%=a.score_one%></span>
            <%end%>
          </td>
          <td>
            <%if a.score_two == 0%>
              <span class="label label-default"><%=a.score_two%></span>
            <%elsif a.score_two <= 69%>
              <span class="label label-danger"><%=a.score_two%></span>
            <%elsif a.score_two <= 79%>
              <span class="label label-warning"><%=a.score_two%></span>
            <%else%>
              <span class="label label-success"><%=a.score_two%></span>
            <%end%>
          </td>
          <td>
            <%if a.score_three == 0%>
              <span class="label label-default"><%=a.score_three%></span>
            <%elsif a.score_three <= 69%>
              <span class="label label-danger"><%=a.score_three%></span>
            <%elsif a.score_three <= 79%>
              <span class="label label-warning"><%=a.score_three%></span>
            <%else%>
              <span class="label label-success"><%=a.score_three%></span>
            <%end%>
          </td>
          <td>
            <%if a.score_four == 0%>
              <span class="label label-default"><%=a.score_four%></span>
            <%elsif a.score_four <= 69%>
              <span class="label label-danger"><%=a.score_four%></span>
            <%elsif a.score_four <= 79%>
              <span class="label label-warning"><%=a.score_four%></span>
            <%else%>
              <span class="label label-success"><%=a.score_four%></span>
            <%end%>
          </td>
          <td>
            <%if a.score_test == 0%>
              <span class="label label-default"><%=a.score_test%></span>
            <%elsif a.score_test <= 69%>
              <span class="label label-danger"><%=a.score_test%></span>
            <%elsif a.score_test <= 79 %>
              <span class="label label-warning"><%=a.score_test%></span>
            <%else%>
              <span class="label label-success"><%=a.score_test%></span>
            <%end%>
          </td>
          <td>
            <%if a.score_final == 0%>
              <span class="label label-default"><%=a.score_final%></span>
            <%elsif a.score_final <= 69%>
              <span class="label label-danger"><%=a.score_final%></span>
            <%elsif a.score_final <= 79 %>
              <span class="label label-warning"><%=a.score_final%></span>
            <%else%>
              <span class="label label-success"><%=a.score_final%></span>
            <%end%>
          </td>
          <td>
            <%= link_to "Editar Nota", teacher_edit_form_path(a), class: "btn btn-info btn-sm"%>
          </td>
          <%end%>
          <% end%>
        </tr>
      </tbody>
    </table>

</div>
