<div class="jumbotron jumbotron-fluid">
<h1>Hola Maestro <%="#{current_teacher.name.upcase} #{current_teacher.last_name.upcase}"%></h1>
<br>
<h2>Materias Actuales:</h2>
</div>
<div>

    <% @materia_cursando.each_with_index do |a, b|%>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Materia <%=b+1%></th>
              <td><%=a.name %></td>
            </tr>
            <tr>
              <th scope="row">Grado:</th>
              <td><%=a.grade.name %></td>
            </tr>
            <tr>
              <th scope="row">Periodo:</th>
              <td><%=a.grade.period.name %></td>
            </tr>
            <tr>
              <th scope="row">Estado:</th>
              <td class="bg-info text-white">
                <% if a.grade.current? %>
                <span class="w-100 ">Cursando</span>
              </td>
              <%else%>
              <td class="bg-success text-white">
                <span class="label label-warning">Finalizado</span>
                <%end%>
              </td>

            </tr>
          </tbody>
      </table>
      <h4>
        <%= link_to "Ver Detalles", teacher_curso_path(a), class: "nav-link btn btn-outline-primary btn-lg"%>

      </h4>
      <br>
      <br>
    </div>
    <%end%>
</div>
