<div class="login-page">
  <h2>Inicio</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>

    <div class="">
      <%= f.submit "Iniciar" %>
    </div>
    <% end %>


    <%=link_to "Atras", root_path%>
</div>
