<%= form_for @course, :html => { :class => "form-horizontal course" } do |f| %>

  <% if @course.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>


  <div class="form-group">
    <%= f.label :grade_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :grade_id, set_grades.collect{|c|["#{c.name} #{c .period.name}", c.id] }, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:grade_id) %>
  </div>


  <div class="form-group">
    <%= f.label :teacher_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :teacher_id, set_teacher .collect{|c|["#{c.name} #{c.last_name}", c.id] }, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:teacher_id) %>
  </div>



  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
