<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:grade_id) %></th>
      <th><%= model_class.human_attribute_name(:teacher_id) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.id, course_path(course) %></td>

        <td>
          <%if course.blank? %>
              <span class="label label-warning">No Materia</span>
          <%else%>
              <%= course.name %>
          <%end%>
        </td>

        <td>
          <%if course.grade.blank?%>
              <span class="label label-warning">No Grado</span>
          <%else%>
            <%= course.grade.name << " #{course.grade.period.name}" %>
          <%end%>
        </td>

        <td>
          <%if course.teacher.blank? %>
              <span class="label label-warning">No Profesor</span>
          <%else%>
              <%="#{course.teacher.name} #{course.teacher.last_name}" %>
          <%end%>
        </td>


        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_course_path(course), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      course_path(course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_path,
            :class => 'btn btn-primary' %>
