<h1>New Parent</h1>
<%= form_for(@parent) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>

  <div class="field">
    <%= f.label :work %><br />
    <%= f.text_field :work %>
  </div>

  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>

  <div class="field">
    <%= f.label :identification_number %><br />
    <%= f.number_field :identification_number %>
  </div>

  <div class="field">
    <%= f.label :birth_day %><br />
    <%= f.datetime_field :birth_day %>
  </div>

  <div class="field">
    <%= f.label :direction %><br />
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.select :student_id, set_students.collect{|student| ["#{student.name} #{student.last_name}"]}, {} %>
  </div>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.select :parent_id, set_parents.collect{|parent| ["#{parent.name} #{parent.last_name}"]}, {} %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <%= link_to 'Back', parents_path, :class => 'btn btn-default' %>
<%end%>
