<p id="notice"><%= notice %></p>

<h1>Weekends</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekends.each do |weekend| %>
      <tr>
        <td><%= weekend.week %></td>
        <td><%= link_to 'Show', weekend %></td>
        <td><%= link_to 'Edit', edit_weekend_path(weekend) %></td>
        <td><%= link_to 'Destroy', weekend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekend', new_weekend_path %>
