<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ModuleSchool" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-dark bg-inverse bg-faded">

      <button class="navbar-toggler hidden-lg-up float-xs-right float-sm-right float-md-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <!-- <a class="navbar-brand" href="">ModuleSchool</a> -->
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
          <ul class="nav navbar-nav w-100 ">
            <li ><a class="navbar-brand " href="">ModuleSchool</a></li>
            <%if current_user%>

              <li><%= link_to "Salir", destroy_user_session_path, method: :delete  %></li>
              <li><%= link_to "Cursos", courses_path  %></li>
              <li><%= link_to "Grados", grades_path  %></li>
              <li><%= link_to "Periodos", periods_path  %></li>
              <li><%= link_to "Notas", scores_path  %></li>
              <li><%= link_to "Profesores", teachers_path  %></li>
              <li><%= link_to "Estudiantes", students_path  %></li>


            <%elsif current_student%>
              <li class="btn text-white float-xs-right float-sm-right float-md-right float-lg-right"><%= link_to "Salir", destroy_student_session_path, method: :delete  %></li>

            <%elsif current_teacher%>
              <li class="btn text-white float-xs-right float-sm-right float-md-right float-lg-right"><%= link_to "Salir", destroy_teacher_session_path, method: :delete  %></li>
            <%else%>
                <li><%= "Hola Estraño!" %></li>
            <%end%>

            <%if current_user%>
              <li class="hidden-xs hidden-sm"><%= "Bienvenido! #{current_user.name} #{current_user.last_name}" %></li>
              <li class="btn text-white float-xs-right float-sm-right float-md-right float-lg-right"><%="#{current_user.name} #{current_user.last_name}" %></li>
            <%elsif current_student %>
              <li class="hidden-xs hidden-sm"><%= "Bienvenido! #{current_student.name} #{current_student.last_name}" %></li>

            <%elsif current_teacher%>
              <li class="hidden-xs hidden-sm"><%= "Bienvenido! #{current_teacher.name} #{current_teacher.last_name}" %></li>
            <%else%>
                <li><%= "hola estraño" %></li>
            <%end%>
          </ul>
        </div>
    </nav>
    <br><br>
    <%if current_teacher%>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%= bootstrap_flash %>
              <%= yield %>
            </div>
          </div><!--/row-->
        </div>

    <%elsif current_user%>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/span-->
    </div><!--/row-->

    <%elsif current_student%>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div>
    <%end%>

      <footer>
        <hr>
        <h3>&copy; Innova-code 2016</h3>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
